<div class="modal" [ngClass]="{'show': showModal}">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Are you sure?</h2>
        <span class="close" (click)="closeModal()">&times;</span>
      </div>
      <div class="modal-body">
        <p>You won't be able to revert this!</p>
      </div>
      <div class="modal-footer">
        <button class="btn cancel" (click)="closeModal()">Cancel</button>
        <button class="btn confirm" (click)="confirm()">Yes, delete it!</button>
      </div>
    </div>
  </div>
  