<!-- ინფორმაციის გარეთ გამოტანა  -->

<div>
  <p>{{ user.name }}</p>
  <p>{{ user.age }}</p>
</div>

<a href="" [title]="toolpin">ბმული</a>

<!-- PIPES -->

<h3>{{ users | json }}</h3>

<h3>{{ "gesfvwgwgvf" | slice : 2 }}</h3>
<h3>{{ "gesfvwgwgvf" | slice : 2 : 6 }}</h3>

<h3>{{ someDate }}</h3>
<h3>{{ someDate | date }}</h3>
<p>
  {{
    "loremwefuwbeywgyevwhfvuewuyfevwgyvewdvuevwuefvwyvdewugvduwevfwvuevdwuevfuwvefwveuhvwuevfuwvewfgvuevwevfuwvhewvfe"
      | cutText : 10
  }}
</p>

<h2>{{ ageOfUsers | sortData : "age" | json }}</h2>

<!-- მოვლენების მართვა კომპონენტის შაბლონებში -->

<button [style.color]="color" (click)="color = 'blue'">Button</button>
<button [style.color]="color" (click)="changeColor('red')">Button</button>
<p [style.color]="color">Paragraph</p>

<!-- <input
  type="text"
  (input)="checkCurrentValue($event)"
  (keydown.enter)="this.color = 'pink'"
/> -->

<!-- <app-child
  [childColor]="color"
  [name]="name"
  (nameChange)="setNewName($event)"
></app-child>

<app-child
  [childColor]="color"
  [(name)]="parentName"
></app-child>

<p>Mshobeli komponenti {{ parentName }}</p>

<button (click)="setNewName('saxeli shecvlili mshoblis daxmarebit')">
  mshobeli gilaki
</button> -->


<!-- ng-content -->

<!-- <app-child>
  <hr>
  <p style="background-color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repr</p>
  <div style="background-color: blue;" someAttribute>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repr</div>
  <article style="background-color: green;" class="some-css-class">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repr</article>
  <hr>
  <br>
  <div class="example">
    <span>mshoblisgan aghebuli feri {{color}}</span>
  </div>
</app-child> -->

<!-- <app-child>
  <app-ng-content-example></app-ng-content-example>
</app-child> -->


<!-- ng-template and ng-container -->

<!-- <p>1 paragraph</p>
<ng-container *ngTemplateOutlet="test; context: {first: 'Hello', $implicit:'World',someText: '!'}">
  <span>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Dicta voluptatem, corporis provident praesentium deleniti
      labore aut porro sequi soluta consectetur cumque alias repel
      lendus sunt, neque blanditiis ex. Tempore, nisi reprehenderit!
  </span>
</ng-container>
<p>3 paragraph</p>

<ng-template #test let-item let-firstItem="first" let-someText="someText">
  <p>2 paragraph</p>
  <p>{{firstItem}}</p>
  <p>{{item}}</p>
  <p>{{someText}}</p>
</ng-template> -->

<!-- ngFor , nfIf and ngSwitchCase -->

<!-- ngIf -->

<!-- <p *ngIf="toogler then test else second">Lorem ipsum dolor sit amet consectetur adipisicing elit. t non facere iure rem! Reprehenderit.</p>

<button (click)="toogler = !toogler"> buutin</button>

<ng-template #test>
  <p>text euebfef</p>
</ng-template>

<ng-template #second>
  <p> 2222text euebfef</p>
</ng-template> -->

<!-- ngFor -->

<!-- <div *ngFor="let item of arr; let eventItem = even; let currentIndex = index">
  <span *ngIf="eventItem">{{item}}</span>
  <span style="background-color: red;margin-left: 20px;">{{currentIndex}}</span>
</div> -->

<!-- ngSwitchCase -->

<!-- <div *ngFor="let item of arr" [ngSwitch]="item">
  <i *ngSwitchCase="123">{{item}}</i>
  <i *ngSwitchCase="123">{{item}}</i>
  <b *ngSwitchCase="true">{{item}}</b>
  <span *ngSwitchDefault="">{{item}}</span>
</div>  -->


<!-- //// -->

<!-- <button (click)="toogler = !toogler"> buutin</button>

<p *ngIf="toogler">Lorem, ipsum dolor sit amet consect consequunturero, repellendus, esse aut veritatis expedita!</p>

<ng-template [ngIf]="toogler">
  <p>text euebfef</p>
</ng-template> -->

<!-- if ,for ,switch -->

<button (click)="toogler = !toogler"> buutin</button>


<!-- 
@if(toogler) {
  <p style="color: red;" *ngIf="toogler">us, esse aut veritatis expedita!</p>
} @else {
  <p *ngIf="!toogler">Lorem, ipsum dolor sit amet consect consequunturero, repellendus, esse aut veritatis expedita!</p>
} -->


<div *ngFor="let item of arr; trackBy: someTrackMethods">
  <span>{{item}}</span>
</div>

@for (item of arr; track $index) {
  <div style="color: blue;">
    <span>{{item}}</span>
  </div>
}


<app-ng-content-example #confirmDialog (confirmed)="handleConfirm()"></app-ng-content-example>
<button (click)="confirmDialog.openModal()">Delete File</button>